<aside>
    <a id="sb_dashboard" class="sidebar_item" onclick="sidebarNavigate('http://{{linkPath}}:{{port}}/admin')"><i class="fa fa-pie-chart" aria-hidden="true"></i> DashBoard</a>
    <a id="sb_movie" class="sidebar_item" onclick="sidebarNavigate('http://{{linkPath}}:{{port}}/admin/movie')"><i class="fa fa-file-video-o" aria-hidden="true"></i> Manage Movies</a>
    <a id="sb_cinema" class="sidebar_item" onclick="sidebarNavigate('http://{{linkPath}}:{{port}}/admin/cinema')"><i class="fa fa-television" aria-hidden="true"></i> Manage Cinemas</a>
    <a id="sb_request" class="sidebar_item" onclick="sidebarNavigate('http://{{linkPath}}:{{port}}/admin/request')"><i class="fa fa-check" aria-hidden="true"></i> Requests</a>
</aside>
